/*
 *= require_self
 *= require_tree .
*/

@import 'mixins';

$card_size: 100px;



// ------------------------
// body
//

body {
	margin: 0;
}



// ------------------------
// general styles
//

a {
	text-decoration: none;
}



// ------------------------
// layout containers
//

.narrow {
	@include debug_border;
	width: 75%;
	margin: 0 auto;
	@include clearfix;
}

#content {
	@include debug_border;
	width: 66%;
	float: left;
}

#control_panel {
	@include debug_border;
	width: 33%;
}

footer#main {
	.narrow {
//		margin-top: 40px;
		padding: 20px;
		min-height: 100px;
		border-top: 1px solid #ddd;
		background-image: -moz-radial-gradient(50% 0%, ellipse cover, rgba(224, 224, 224, 0.7), #fefff7 75%);
		background-image: -webkit-radial-gradient(50% 0%, ellipse cover, rgba(224, 224, 224, 0.7), #ffffff 75%);
		background-image: -o-radial-gradient(50% 0%, ellipse cover, rgba(224, 224, 224, 0.7), #fefff7 75%);
		background-image: -ms-radial-gradient(50% 0%, ellipse cover, rgba(224, 224, 224, 0.7), #fefff7 75%);
		background-image: radial-gradient(50% 0%, ellipse cover, rgba(224, 224, 224, 0.7), #fefff7 75%);	
	}
	
	.about_us, .contact_us {
		float: right;
		padding-right: 20px;
	}
}

// ------------------------
// page header
//

header#main {
	background-color: #000;
	padding: 20px 0;
	
	h1 {
		color: #fff;
	}	
}



// ------------------------
// card and deck styles
//

ol.decks, ol.cards {
	list-style: none;
	padding: 0;
	
	li {
		margin: 20px 20px 20px 0;
		padding: 20px;
		float: left;
		width: $card_size;
		height: $card_size;

		border: 1px solid #000;

		font-family: 'BloklettersPotlood';

		font-size: 2em;

		text-align: center;
		
		.content {
			padding-top: 5px;
			display: table-cell;
			text-align: center;
			vertical-align: middle;
			line-height: 35px;

			width: $card_size;
			height: $card_size;		
		}
	}
} // end ol.decks, ol.cards

ol.decks {
	li {			  
		box-shadow: 2px 2px 1px rgba(0,0,0,0.25), /* main shadow */ 
			10px 10px 0 -5px #fff,                  /* 2nd card layer */ 
			10px 10px 1px -4px rgba(0,0,0,0.35),    /* 2nd card shadow */ 
			20px 20px 0 -10px #fff,                 /* 3rd card layer */ 
			20px 20px 1px -9px rgba(0,0,0,0.35);    /* 3rd card shadow */ 
	}
}

ol.cards {
	li {
		box-shadow: 5px 5px 10px rgba(0,0,0,0.35);
	}
}



// ------------------------
// form styles
//

form {
	margin: 20px 0;
	
	input[type=text], input[type=password] {
		font-size: 1.5em;
		padding: 5px 10px;

		@include border-radius( 5px );
	}	
	
	label[for=deck_name] {
		display: none;
	}
	
	input[type="submit"] {
		font-size: 1.2em;
		background-color: #900;
		color: #fff;
		border: 1px solid #600;
		padding: 7px 15px;
		@include border-radius( 3px );
		
		&:hover {
			background-color: #a00;
			border: 1px solid #900;
		}
	}
} //end form



// ------------------------
// control panel with ribbon
//

section#control_panel {
	float: right;
	text-align: center;
	position: relative;
	top: -70px;
	
	nav#session_links {
		margin-bottom: 20px;

		a {
			color: #fff;
		}
	}
	
	h1 {
		font-family: 'BloklettersBalpen', helvetica;
		margin: 0;
		padding: 0;
		color: #fff;
	}
	
	nav#ribbon {	
		margin-top: 5px;
		border-top: 1px solid #aaa;
	
		ul {
			
			margin: 0 auto;
			padding: 0;
			list-style: none;
			width: 72%;
		
			li {
				background-color: #990000;
				padding: 20px 20px 10px 20px;
			
				a {
					color: #fff;
				}
				
				&.about_us, &.contact_us {
					display: none;
				}

				&#end {
					background-color: transparent;
					background-image: url(ribbon_end.png);
					background-repeat: no-repeat;
					min-height: 160px;
					background-size: 100%;
				}
			}
		}
	}
} //end control_panel