/*
 *= require_self
 *= require_tree .
*/

@import 'mixins';

$card_size: 120px;

body {
	margin: 0;
}

a {
	text-decoration: none;
}

header#main {
	background-color: #000;
	padding: 20px 20px;
	
	h1 {
		color: #fff;
	}	
}

div#content {
//	border: 1px solid green;
	width: 80%;
	float: left;
}

li.about_us, li.contact_us {
	display: none;
}


ol.decks, ol.cards {
	list-style: none;
	padding: 0;
	
	li {
		margin: 20px;
		padding: 20px;
		float: left;
		width: $card_size;
		height: $card_size;

		border: 1px solid #000;

		font-family: 'BloklettersPotlood';

		font-size: 2em;

		text-align: center;
		
		.content {
			padding-top: 5px;
			display: table-cell;
			text-align: center;
			vertical-align: middle;

			width: $card_size;
			height: $card_size;		
		}
	}
}

ol.decks {
	li {			  
		box-shadow: 2px 2px 1px rgba(0,0,0,0.25), /* main shadow */ 
			10px 10px 0 -5px #fff,                  /* 2nd card layer */ 
			10px 10px 1px -4px rgba(0,0,0,0.35),    /* 2nd card shadow */ 
			20px 20px 0 -10px #fff,                 /* 3rd card layer */ 
			20px 20px 1px -9px rgba(0,0,0,0.35);    /* 3rd card shadow */ 
	}
}

form {
	margin: 20px;
	
	input[type=text], input[type=password] {
		font-size: 1.5em;
		padding: 5px 10px;

		@include border-radius( 5px );
	}	
	
	label[for=deck_name] {
		display: none;
	}
	
	input[type="submit"] {
		font-size: 1.2em;
	}
}


ol.cards {
	li {
		box-shadow: 5px 5px 10px rgba(0,0,0,0.35);
	}
}

nav#session_links {
	position: absolute;
	top: 5px;
	right: 25px;
	
	a {
		color: #fff;
	}
}

section#control_panel {
//	border: 1px solid red;
	float: right;
	margin-right: 20px;
	width: 16%;
	text-align: center;
	position: relative;
	top: -50px;
	
	h1 {
		margin: 0;
		padding: 0;
		color: #fff;
	}
	
	nav#ribbon {
	
		height: 100px;
	
//		margin-top: 30px;
		margin-top: 5px;
		border-top: 1px solid #ccc;
//		background-image: -moz-radial-gradient(50% 0%, ellipse cover, rgba(224, 224, 224, 0.7), #fefff7 56%);
//		background-image: -webkit-radial-gradient(50% 0%, ellipse cover, rgba(224, 224, 224, 0.7), #ffffff 75%);
//		background-image: -o-radial-gradient(50% 0%, ellipse cover, rgba(224, 224, 224, 0.7), #fefff7 56%);
//		background-image: -ms-radial-gradient(50% 0%, ellipse cover, rgba(224, 224, 224, 0.7), #fefff7 56%);
//		background-image: radial-gradient(50% 0%, ellipse cover, rgba(224, 224, 224, 0.7), #fefff7 56%);
	
		ul {
			margin: 0 auto;
			padding: 20px;
			list-style: none;
			background-color: #900;
			width: 50%;
		
			li {
				padding: 10px 0;
			
				a {
					color: #fff;
				}
			}
		}
	}
} //end control_panel