// -------------------------------------------------------
// less than 975
//

@media all and (max-width: 975px) {
	// ------------------------
	// page header
	//

	header#main {
		text-align: center;	
	}
	
		
	// ------------------------
	// layout containers
	//

	.narrow {
		width: 90%;
		margin: 0 auto;
	}

	#content {
		width: 100%;
		float: none;
	}
	
	// --------------------------
	// cards and decks
	//
	
	ol.decks, ol.cards {
		text-align: center;
		
		li {
			float: none;
			display: inline-block;
			margin: 20px;
		}
	}
	
	
	// ------------------------
	// big cards
	//

	#big_card {
		text-align: center;
		
		.big_card {
			float: none;
			display: inline-block;
		}
		
		// ------------------------
		// arrow link styles (cards show)
		//

		.arrow_links {
			float: none;
			position: relative;
			top: -140px;
			display: inline-block;
		}
	}
	
	
	// ------------------------
	// reorder cards table
	//

	#cards_table {
		text-align: center;
		
		table.cards {
			width: 50%;
			margin: 0 auto;
		}
	}
	
	
	// ------------------------
	// form styles
	//

	form {
		text-align: center;
		
		input {
			text-align: center;
		}
	}
	
	// ------------------------
	// flash messages
	//
	
	div.flash_msg {
		text-align: center;
		
		.narrow {
			.content {
				width: 90%;
				margin: 0 auto;
			}
		}
	}
	
  // ------------------------
	// control panel with ribbon
	//

	section#control_panel {
		position: static;
		float: none;
		margin: 20px auto;
		top: 0px;
		width: 60%;

		nav#session_links {
			margin-bottom: 10px;

			a {
				color: #444;
			}
		}

		h1 {
			font-family: 'BloklettersBalpen', helvetica;
			margin: 0;
			padding: 0;
			color: #000;
		}

		nav#ribbon {	
			border-top: 1px solid #000;
			background-image: -moz-radial-gradient(50% 0%, ellipse cover, rgba(224, 224, 224, 0.5), rgba(255, 255, 255, 0.0) 100%);
			background-image: -webkit-radial-gradient(50% 0%, ellipse cover, rgba(224, 224, 224, 0.5), rgba(255, 255, 255, 0.0) 100%);
			background-image: -o-radial-gradient(50% 0%, ellipse cover, rgba(224, 224, 224, 0.5), rgba(255, 255, 255, 0.0) 100%);
			background-image: -ms-radial-gradient(50% 0%, ellipse cover, rgba(224, 224, 224, 0.5), rgba(255, 255, 255, 0.0) 100%);
			background-image: radial-gradient(50% 0%, ellipse cover, rgba(224, 224, 224, 0.5), rgba(255, 255, 255, 0.0) 100%);

			ul {

				li {

					a {
						color: #fff;
					}
				}
			}
		}
	} //end control_panel
}


// -------------------------------------------------------
// less than 630
//

@media all and (max-width: 630px) {
	#home_index {
		#content {
			width: 90%;
		}
		
		// ------------------------
		// control panel with ribbon
		//

		section#control_panel {
			width: 90%;
		}
	}
}


// -------------------------------------------------------
// less than 550
//

@media all and (max-width: 550px) {
	#home_index {
		#content {
			width: 90%;
		}
		
		// ------------------------
		// control panel with ribbon
		//

		section#control_panel {
			width: 90%;
		}
	}
	
	
	// ------------------------
	// page header
	//

	header#main {
		padding: 10px 0;
	}
	
	
	footer#main {
		text-align: center;
		
		.narrow {}

		.about_us, .contact_us {
			float: none;
			display: block;
			padding: 20px 0 0 0;
		}
	}
	
	
	// ------------------------
	// big cards
	//

	#big_card {
		.big_card {
			width: 200px;
			height: 200px;
			font-size: 3em;
			
			.content {
				line-height: 25px;
				width: 200px;
				height: 200px;
			}
		}
		
		// ------------------------
		// arrow link styles (cards show)
		//

		.arrow_links {
			top: -110px;
		}
	}
	
	
	// ------------------------
	// control panel with ribbon
	//

	section#control_panel {
		width: 100%;
		
		h1 {
			font-size: 1.4em;
		}
	}	
}


// -------------------------------------------------------
// less than 460
//

@media all and (max-width: 460px) {
	// ------------------------
	// big cards
	//

	#big_card {
		.big_card {
			width: 150px;
			height: 150px;
			font-size: 2em;
			
			.content {
				line-height: 25px;
				width: 150px;
				height: 150px;
			}
		}
		
		// ------------------------
		// arrow link styles (cards show)
		//

		.arrow_links {
			top: -80px;
		}
	}	
}


// -------------------------------------------------------
// less than 400
//

@media all and (max-width: 400px) {
	#home_index {
		margin-top: 20px;
		
		header {
			h1 {
				font-size: 1.5em;
				line-height: 40px;
			}
		}
		
		// ------------------------
		// home page login/registration form
		//
	
		form {
			padding: 1em;
		
			input {
				width: 90%;
			}
		}
	}
	
	
	// ------------------------
	// page header
	//

	header#main {
		h1 {
			font-size: 1.2em;
		}	
	}
	
	
	// ------------------------
	// form styles
	//

	form {
		input {
			width: 90%;
		}
	}
	
		
	// ------------------------
	// big cards
	//
	$card-size: 180px;

	#big_card {
		.big_card {
			width: $card_size;
			height: $card_size;
			font-size: 2.5em;
						
			.content {
				line-height: 25px;
				width: $card_size;
				height: $card_size;
			}
		}
		
		// ------------------------
		// arrow link styles (cards show)
		//

		.arrow_links {
			top: 10px;
		}
		
		.prev {
			margin-right: -40px;
		}
		
		.next {
			margin-left: -40px;
		}
	}	
}